{% extends 'base.html' %}

{% block content %}
  <h1>Update Comment</h1>

  <form method="post">
    <div class="mb-3">
      <label for="text" class="form-label">Comment Text</label>
      <textarea class="form-control" id="text" name="text" rows="4" required>{{ comment.text }}</textarea>
    </div>

    <div class="d-grid">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>
  <a href="{{ url_for('blog.view_post', post_id=comment.post_id) }}" class="btn btn-secondary mt-3">Back to Post</a>
  <form action="{{ url_for('blog.delete_comment', comment_id=comment.id) }}" method="post">
    <input class="btn btn-outline-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
</div>
{% endblock %}
