{% extends 'base.html' %}

{% block header %}
  <h5>{% block title %}Update "{{ post['title'] }}"{% endblock %}</h5>
  <br>
{% endblock %}


{% block content %}
  <form method="post">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{ request.form['title'] or post['title'] }}" required>
        <label for="title">Title</label>
      </div>
      <div class="form-floating">
        <textarea class="form-control" placeholder="Content" id="body" name="body" style="height: 100px">{{ request.form['body'] or post['body'] }}</textarea>
        <label for="body">Content</label>
      </div>
      <div>
          <button type="submit" class="btn btn-primary">Save</button>
      </div>
  </form>
    <hr>
    <h4 class="form-text">Do you want to delete the post?</h4>
    <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
      <input class="btn btn-outline-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
{% endblock %}